# Firebase config files
Flutter/android/app/google-services.json
Flutter/ios/Runner/GoogleService-Info.plist
Flutter/lib/firebase_options.dart

# macOS
.DS_Store

# Flutter generated
Flutter/.dart_tool/
Flutter/build/
Flutter/android/local.properties

# AI model large/cache files
Backend/model/local_emotion_model/
*.safetensors
*.pt
*.pth
*.h5
*.onnx
.cache/

# Python virtual environments
.venv/
venv/
Database/.venv/
Backend/.venv/
